.logout__nav {
  margin: 50px 50px 0 0;
  display: flex;
  justify-content: flex-end;
}

.logout__button {
  padding: 15px 30px;
  background-color: #3e3e3e;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
